.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.header__item {
    margin-right: 72px;
}
.header__link {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: center;
    color: black;
    text-decoration: none;
}
.content {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}
.color {
    color: #04959e;
}
.paragraph {
    width: 500;
    font-size: 21px;
    line-height: 31.5px;
    display: flex;
    align-items: center;
}
.list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
button {
    background: #04959e;
    color: #ffffff;
    border: none;
    padding: 10px 24px 10px 24px;
}
#my-id {
    padding-top: 80px;
}
.text-footer {
    justify-content: space-between;
    text-align: center;
    padding: 16px 0px 16px 0px;
}










